.sidebar {
  width: 260px;
  background: #1f1f2d;
  color: #ffffff;
  padding: 25px 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sidebar-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

/* Menu Styling */
.menu {
  list-style: none;
  padding: 0;
  flex-grow: 1;
}

.menu li {
  margin: 15px 0;
}

.menu li a {
  text-decoration: none;
  color: #d1d1e0;
  font-size: 17px;
  padding: 10px 12px;
  display: block;
  border-radius: 6px;
  transition: 0.3s;
}

.menu li a:hover {
  background: #36384a;
  color: #ffffff;
}
